@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindx!</h1>
    <p>Esse projeto tem por finalidade estudar os conceitos da arquitetura MVC baseado em ASP.NET Core. O objetivo aqui e ir além das modifição sugeridas na <a href="https://docs.microsoft.com/pt-br/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-5.0&tabs=visual-studio-code
    " target="_blank">documentação</a> e implementar novas funcionalidades como por exemplo o layout da aplicação e até mesmo implementar o consumo de alguma API.
    </p>
</div>
